/* resusable section */

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.color-1 {
    color: #8987A1;
}

.color-2 {
    color:#E95A08;
}

.color-3 {
    color:rgba(0, 0, 0, 0.5);
}

.color-4 {
    color:#111111;
}


.seperated{
    color:#252432 ;
    font-weight: 700;
}
/* resusable section */

                                 /* logo section */

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 350px;
}

.imp-links {
    display: flex;
    align-items: center;
    gap: 48px;
}

.imp-links > a {
    text-decoration: none;
}

.for-cart > a {
    text-decoration: none;
    color: #000000;
}

.for-cart {
    display: flex ;
    align-items: center;
    justify-content: center;
    color: #000000;
}


                              /* fresh-flowers-section */

.fresh-flowers-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 282px 350px 0px 350px;
}

.freshness {
    font-size: 65px;
    font-weight: 700;
}

.flowers-description {
    font-size: 22px;
    font-weight: 400;
    margin-top: -45px;
}

                            /*  showcase-section  */

.showcase-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    margin: 0px 350px;
}

.about-showcase-section {
    text-align: center;
    margin: 120px 350px 49px 350px;

}

.main-products {
    text-align: center;
}

.the-plants {
    font-size: 50px;
    font-weight: 700;
}

.plants-description {
    font-size: 22px;
    font-weight: 400;
}


.name {
    font-size: 22px;
    font-weight: 500;
}

.price {
    font-size: 22px;
    font-weight: 700;
}  

.btn-1 {
    border: none;
    color: white;
    background-color:#E95A08;
    padding: 19px 90px;
}

                          /* trusted section */

.trusted-section {
    display: flex;
    margin: 210px 350px;
    gap: 100px;
}

.trusted-image {
    position: relative;
}

.flower-and-plants {
    font-size: 50px;
    font-weight: 700;
}

.trusted-badge {
    position: absolute;
    height: 286px;
    width: 286px;
    margin-left: -170px;
    margin-top: -100px;
}

.plants-description-1 {
    width: 40%;
}

.plants-description-1 ul > li {
    margin-bottom: 20px;
}

@media screen and (max-width: 430px) {
    .margin-retracting {
        margin-left: 0px;
        margin-right: 0px;
    }
    .gayebulhawa, 
    .trusted-badge{
        visibility : hidden;
    }
    
    .plants-description-1,
    .flower-image-1  {
        width: 100%;
    }

    .fresh-flowers-section
    {
        flex-direction: column-reverse;
    }

    .trusted-section  {
        flex-direction: column;
    }

    .showcase-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .about-showcase-section {
        margin-left: 100px;
    }
}