/* resusable section */

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.color-1 {
    color: #8987A1;
}

.color-2 {
    color:#E95A08;
}

.color-3 {
    color:rgba(0, 0, 0, 0.5);
}

.color-4 {
    color:#111111;
}


.seperated{
    color:#252432 ;
    font-weight: 700;
}
/* resusable section */

                                 /* logo section */

.first-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 350px;
}

.imp-links {
    display: flex;
    align-items: center;
    gap: 48px;
}

.imp-links > a {
    text-decoration: none;
}

.for-cart > a {
    text-decoration: none;
    color: #000000;
}

.for-cart {
    display: flex ;
    align-items: center;
    justify-content: center;
    color: #000000;
}


                              /* fresh-flowers-section */

.fresh-flowers-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 282px 350px 0px 350px;
}

.freshness {
    font-size: 65px;
    font-weight: 700;
}

.flowers-description {
    font-size: 22px;
    font-weight: 400;
    margin-top: -45px;
}

                            /*  showcase-section  */

.showcase-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    margin: 0px 350px;
}

.about-showcase-section {
    text-align: center;
    margin: 120px 350px 49px 350px;

}

.main-products {
    text-align: center;
}

.the-plants {
    font-size: 50px;
    font-weight: 700;
}

.plants-description {
    font-size: 22px;
    font-weight: 400;
}


.name {
    font-size: 22px;
    font-weight: 500;
}

.price {
    font-size: 22px;
    font-weight: 700;
}  

.btn-1 {
    border: none;
    color: white;
    background-color:#E95A08;
    padding: 19px 90px;
}

                          /* trusted section */

.trusted-section {
    display: flex;
    margin: 210px 350px;
    gap: 100px;
}

.trusted-image {
    position: relative;
}

.flower-and-plants {
    font-size: 50px;
    font-weight: 700;
}

.trusted-badge {
    position: absolute;
    height: 286px;
    width: 286px;
    margin-left: -170px;
    margin-top: -100px;
}

.plants-description-1 {
    width: 40%;
}

.plants-description-1 ul > li {
    margin-bottom: 20px;
}

                                     /* Latest deals section */
.latest-deals-container {
    margin: 0px 350px;
}

.latest-deals {
    text-align:  center;
    margin: 0px 200px 50px;
}

.l-image-1 {
    position: relative;
    background-image: url(./assets/deal-bloom.png);
    width: 367px;
    height: 201px;
    border-radius: 22px;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    align-content: center;
}

.l-image-2 {
    position: relative;
    background-image: url(./assets/deal-ana.png);
    width: 367px;
    height: 201px;
    border-radius: 22px;
    margin-top: 20px;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    align-content: center;
}

.l-image-3 {
    position: relative;
    background-image: url(./assets/deal-zabo.png);
    width:  750px;
    height: 420px;
    border-radius: 22px;
    margin-left: 20px;
    background-repeat: no-repeat;
    text-align: center;
    color: whitesmoke;
    align-content: center;
}

.l-deals-image-container {
    display: flex;
}

.l-image-1 > a {
    text-decoration: none;
    color: whitesmoke;
}

.l-image-2 > a {
    text-decoration: none;
    color: whitesmoke;
}

.l-image-3 > a {
    text-decoration: none;
    color: whitesmoke;
}

.l-image-1::after {
    content: "60% Off | Bloom Plant Shop now";
    position: absolute;
    left: -0.1%;
    top: -0.1%;
    border-radius: 22px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    width: 367px;
    height: 201px;
    background-color: #0000006b;
    z-index: 1;
}

.l-image-2::after {
    content: "30% Off | Ana Plant Shop now";
    position: absolute;
    left: -0.1%;
    top: -0.1%;
    border-radius: 22px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    width: 367px;
    height: 201px;
    background-color: #0000006b;
    z-index: 1;
}

.l-image-3::after {
    content: "25% Off | Zabo Plant Shop now";
    position: absolute;
    left: -0.1%;
    top: -0.1%;
    border-radius: 22px;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    width:  750px;
    height: 420px;
    background-color: #0000006b;
    z-index: 1;
}

                             /* joining section */

.joining-section {
    margin: 120px 250px 0px;
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    width: 70%;
    height: 500px;
    text-align: center;
    align-content:center ;
}

.joining-h1 {
    color: whitesmoke;
    font-size: 50px;
    font-weight: 700;
}

.email-input {
    width: 600px;
    padding: 15px 0px 15px 20px;
    border: none;
}

.subscription {
    padding: 15px 53.5px;
    margin-left: -5px;
    border: none;
    color: white;
    background-color: #E95A08;
}

.form {
    align-content: center;
}

@media screen and (max-width: 430px) {
    .margin-retracting {
        margin-left: 0px;
        margin-right: 0px;
    }
    .gayebulhawa, 
    .trusted-badge{
        visibility : hidden;
    }
    
    .l-image-3::after {
    content: "25% Off | Zabo Plant Shop now";
    position: absolute;
    left: -0.1%;
    top: -0.1%;
    border-radius: 22px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    width:  367px;
    height: 201px;
    background-color: #0000006b;
    z-index: 1;
    }
    

    .l-description {
        text-align: center;
    }

    .l-image-3 {
    margin-top: 20px;
    margin-left: -1px;
    width:  367px;
    height: 201px;    
    }

    .plants-description-1,
    .flower-image-1  {
        width: 100%;
    }

    .fresh-flowers-section
    {
        flex-direction: column-reverse;
    }

    .trusted-section,
    .l-deals-image-container  {
        flex-direction: column;
    }

    .showcase-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .about-showcase-section {
        margin-left: 100px;
    }

    .joining-section {
        width: 100%;
    }

    .email-input {
        width: 200px;
    }

    .joining-h1 {
    color: whitesmoke;
    font-size: 35px;
    font-weight: 400;
}

}